
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div class="container">
  <div style="
    width: 400px;
    margin: 0 auto;
">
    <legend>Sign Up</legend>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div>
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div>
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="{{ url_for('auth.signup') }}" accept-charset="UTF-8" role="form">
        {{ form.csrf_token }}
        {{ render_field(form.username, placeholder="Enter a username") }}
        {{ render_field(form.email, placeholder="Enter an Email Address",
                                  autofocus="") }}
        {{ render_field(form.password, placeholder="Enter a Password") }}
        {{ render_field(form.confirm, placeholder="Confirm Password") }}
    <br>
      <input class="btn" type=submit value=Register>
    </form>
  </div>
</div>