<!DOCTYPE html>


<!-- TO DO 
  1. How much money are we using?

 <html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BitBot</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">

  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        
      </div>
    </div>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">BitBot</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          
        </div>
      </div>
    </nav>

    <br>

    <form class="form-horizontal" role="form">
        <div class="form-group">
              <h1 class="m-0 text-center "> Bitbot Tester </h1>
          </div>
      </form>
    
        <br>
        <br>
        

    <!-- Page Content -->
    <div class="container">
      <form class="form-horizontal" role="form">
        <div class="form-group">
        <h2> Market </h2>

            <div class="col-xs-4">
                <div class="form-group row">

                    <label for="inputKey" class="col-md-3 control-label">First Currency</label>
                    <div class="form-group col-md-3 currency">
                      
                      <select class="form-control" id="first_currency"  name="first_currency">
                        <option>USD</option>
                        <option>BTC</option>
                        <option>ETH</option>
                        <option>LTC</option>
                      </select>

                        <div class="currency_stat">
                            <div class="balance" style="display:none"></div>
                            <br>
                        <div class="curr_val" style="display:none"></div>
                        </div>

                    </div>

                    
                    <label for="inputValue" class="col-md-3 control-label">Second Currency</label>
                    <div class="form-group col-md-3 currency">
                      <select class="form-control" id="second_currency" name="second_currency">
                        <option>USD</option>
                        <option>BTC</option>
                        <option>ETH</option>
                        <option>LTC</option>
                      </select>
                        <div class="balance" style="display:none"></div>
                        <br>
                        <div class="curr_val" style="display:none"></div>

                    </div>
                </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label for="sel1">Select Market:</label>
            <select class="form-control" id="sel1" name="market">
              <option>Bittrex</option>
              <option>Poloniex</option>
              <option>Kraken</option>
              <option>Coinbase</option>
            </select>
          </div>
      </form>
        <div>

        </div>

      <!--*******DIVISION*********-->

      <form class="form-horizontal" role="form">
        <div class="form-group">
        <h2> Strategy </h2>

            <div class="col-xs-4">
                <div class="form-group row">

                    <label for="inputKey" class="col-md-3 control-label">Buy Strategy</label>
                    <div class="form-group col-md-3">
                      
                      <select class="form-control" id="buy_strat" name="buy_strat">
                        <option>Bollinger Bands</option>
                        <option>Ping Pong</option>
                        <option>1000 Trades</option>
                        <option>Step-Gain</option>
                      </select>
                    </div>
                    <label for="inputValue" class="col-md-3 control-label">Sell Strategy</label>
                    <div class="form-group col-md-3">
                      <select class="form-control" id="sell_strat" name="sell_strat">
                        <option>Bollinger Bands</option>
                        <option>Ping Pong</option>
                        <option>1000 Trades</option>
                        <option>Step-Gain</option>
                      </select>
                    </div>
                </div>
            </div>
          </div>
          
      </form>


      <form class="form-horizontal" role="form">
        <div class="form-group">
        <h2> Gain Strategy Settings </h2>

            <div class="col-xs-4">
                <div class="form-group row">

                    <label for="inputKey" class="col-md-3 control-label" data-toggle="tooltip" title="What percentage should be lost before you sell what you bought?">Sell Level</label>
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="3" name="sell_lvl">
                      
                    </div>
                    <label for="inputValue" class="col-md-3 control-label">Buy Level</label>
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="3" name="buy_lvl">
                      
                    </div>
                </div>
            </div>
          </div>
          
      </form>


      <form class="form-horizontal" role="form">
        <div class="form-group">
        <h2> Bollinger Band Strategy </h2>

            <div class="col-xs-4">
                <div class="form-group row">

                    <label for="inputKey" class="col-md-3 control-label">Percent Low Bollinger Band</label>
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="20" id="low_band">
                      
                    </div>
                    <label for="inputValue" class="col-md-3 control-label">Percent High Bollinger Band</label>
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="20" id="high_band">
                </div>
            </div>
          </div>
        </div>
      </form>

      <form class="form-horizontal" role="form">
        <div class="form-group">
        <h2> Bot Timing </h2>

            <div class="col-xs-4">
                <div class="form-group row">

                    <label for="inputKey" class="col-md-3 control-label" data-toggle="tooltip" title="Amount of currency you want to use for each trade">Time Delay Price</label>
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="60" name="time_delay">
                      
                    </div>
                    <label for="inputValue" class="col-md-3 control-label">Bot on fail Delay</label>
                    <div class="form-group col-md-3">
                      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="30" name="fail_delay">
                </div>
            </div>
          </div>
        </div>
      </form>

    <button  class="btn btn-primary" id="start" >Start Bot</button>
    <button class="btn btn-danger" id="stop" >Stop Bot</button>


<div id="bot-panel" class="collapse" >
 <div class="card card-block ">
  </div>
</div>


    </div>


      
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BitBot 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="application/javascript">

    $(document).ready(function()
    {

            getAccountBalance('.currency')


        });




    $('.currency').change(function () {
        var elem = $(this);
        var currency = elem.find("select :selected").text();
         $.post("{{ url_for('bot.check_acct_balance') }}", {
             currency: currency
         },
             function(data){
             elem.find('.balance').text("Your Wallet Balance: " + data);
             elem.find('.balance').css('display','inline');
        });

         if (currency == 'USD'){
             elem.find('.curr_val').css('display','none');
         }else{
            $.get("{{ url_for('bot.get_current_price')}}",
            {market: currency},
            function(data){
                    elem.find('.curr_val').text("Latest " + currency +" Price: " + data);
                    elem.find('.curr_val').css('display','inline');
        });
         }


    });





    $('#start').click(function(){
        $('#bot-panel').collapse('show');
        $('.card').append('Bot started!<br>');
         timedEvent = setInterval(function(){
            $.post("{{ url_for('bot.start') }}", {
                    buy_strat: $("#buy_strat").val(),
                    sell_strat: $("#sell_strat").val(),
                    time_delay: $("input[name=time_delay]").val(),
                    on_fail_delay: $("input[name=fail_delay]").val(),
                    first_currency: $('#first_currency').val(),
                    second_currency: $('#second_currency').val(),
                    high_band: $('#high_band').val(),
                    low_band: $('#low_band').val()
                },
                function(data){
                    $('.card').append(JSON.stringify(data) + '<br>');
                    $('.card').animate({
                        scrollTop: $('.card')[0].scrollHeight}, 1000
                    );
                });
        },10000);

    });

          $('#stop').click(function(){
              $('#bot-panel').collapse('hide');
              clearInterval(timedEvent);
              $('.card').empty();
          });



  </script>

  </body>

</html>
