.content{
    margin-left: 150px;
}
header{
    margin-left: 150px;
}


.sidebar{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0c692c;
  overflow-x: hidden;
  padding-top: 20px;

}

.sidebar ul{
    list-style: none;
}

.sidebar-header a{
    color: white;
    text-align: center;
    padding-left: 50px;
}

