#wrapper{
    width:100%;
}

#content-wrapper{
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
    margin: 0 50px 0 225px;
}

.logo{
    margin: 10px 0 0 50px;
    width: 100px;
    float:left;
}

.navbar-default{
    background-color: #0c692c!important;
}

.navbar-right{
margin-right: 10px!important;
    margin-top: 30px!important;
}

.sidebar{
    margin-top: 84px;
  width: 200px;
    height: 500px;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #0c692c!important;
}

.sidebar-nav{
    padding-top: 10px;
    font-size: 18px;
    color:white;
}



#market-search{
    margin: 30px 0 0 225px;
}

