#wrapper{
    width:100%;
}

#content-wrapper{
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
    margin: 0 50px 0 225px;
}

.logo{
    margin: 15px 0 0 50px;
    float:left;
}

.navbar-right{
margin-right: 10px!important;
}

.sidebar{
    margin-top: 57px;
  width: 200px;
    height: 500px;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #0c692c!important;


}

.sidebar ul{
    list-style: none;
}

.sidebar-header a{
    color: white;
    text-align: center;
    padding-left: 50px;
}

#market-search{
    margin: 10px 0 0 225px;
}