{% extends 'base.html' %}


{% block content %}
    <div class="row">
    <table id="main-table">
    <thead>
    <th>Market Name</th>
    <th>Base Name</th>
    <th>Long Abbrev.</th>
    <th>Short Abbrev.</th>
    </thead>
    <tbody>
    {% for market in markets %}
    <tr>
        <td>{{market.MarketCurrencyLong}}</td>
        <td>{{market.BaseCurrencyLong }}</td>
        <td>{{market.MarketCurrency}} </td>
        <td>{{market.BaseCurrency }}</td>
    </tr>
        {% endfor %}
    </tbody>
</table>
    </div>




{%  endblock %}